* @scene-connect/zuos-reviewers

# Permit changes to poetry.lock ONLY to not require a codeowner review (e.g. Dependabot)
poetry.lock
pyproject.toml
.github/workflows/ci.yml
.github/workflows/ci-dev.yml
.github/workflows/ci-push.yml
.pre-commit-config.yaml
